@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@layer base {
  body {
    @apply bg-white text-neutral-900 antialiased;
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.text-brand-customer-red {
  color: #D32F2F;
}

.bg-brand-customer-red {
  background-color: #D32F2F;
}

.border-brand-customer-red {
  border-color: #D32F2F;
}
